<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oauth2 Client</title>
</head>
<body>
  <h1>Register new account</h1>
  {{ if .Error }}
    <h2 style="color:red;">{{ .Error }}</h2>
  {{ end }}
  <form action="/register" method="post">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="{{ .Email }}" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required>
    </div>
    <button type="submit">Register</button>
  </form>
</body>
</html>
